<aside id="meta-2" class="widget widget_meta">
	<h3 class="widget-title">{{ i18n "Meta" | safeHTML }}</h3>
	<ul>
		<li><a href="{{ "/wp-login.php" | absLangURL | safeHTMLAttr }}">{{ i18n "Log in" | safeHTML }}</a></li>
		{{ with .OutputFormats.Get "rss" -}}
			<li><a href="{{ .Permalink }}">{{ i18n "Entries feed" | safeHTML }}</a></li>
		{{ end -}}
		{{/* <li><a href="{{ "/comments/feed/" | absLangURL | safeHTMLAttr }}">{{ i18n "Comments feed" | safeHTML }}</a></li> */}}
		<li><a href="{{ i18n "https://wordpress.org/" | safeHTMLAttr }} ">WordPress.org</a></li>
	</ul>
</aside>
