{{/* https://themes.svn.wordpress.org/twentytwelve/3.6/index.php (else segment) */}}
{{ define "main" }}
    {{/* no post placeholder */}}
    {{ if le (len .Paginator.Pages) 0 }}
        <article id="post-0" class="post no-results not-found">
          <header class="entry-header">
            <h1 class="entry-title">{{ i18n "Nothing Found" }}</h1>
          </header>

          <div class="entry-content">
            <p>{{ i18n "Apologies, but no results were found. Perhaps searching will help find a related post." }}</p>
            {{ partial "search_form.html" . }}
          </div><!-- .entry-content -->
        </article><!-- #post-0 -->
    {{ end }}

    {{- range (.Paginate .RegularPagesRecursive).Pages }}
      {{ partial "content/page_summary.html" . }}
    {{ end }}

    {{ partial "nav/below.html" . }}
{{ end }}
