{{/* https://themes.svn.wordpress.org/twentytwelve/3.6/category.php */}}
{{/* https://themes.svn.wordpress.org/twentytwelve/3.6/tag.php */}}
{{ define "main" }}
	<header class="archive-header">
		<h1 class="archive-title">{{ printf (i18n "%s Archives: %s") (.Data.Singular | title) .Title }}</h1>
		<div class="archive-meta">{{ .Content }}</div>
	</header><!-- .archive-header -->

	{{ if le (len .Paginator.Pages) 0 }}
		{{ partial "content/none.html" . }}
	{{ else }}
		{{ range .Paginator.Pages }}
			{{ partial "content/page_summary.html" . }}
		{{ end }}

		{{ partial "nav/below.html" . }}
	{{ end }}
{{ end }}
