{{/* implements twentytwelve_content_nav( 'nav-below' ); */}}
            <nav id="nav-below" class="navigation">
				<h3 class="assistive-text">{{i18n "Post navigation" | safeHTML }}</h3>
				{{ if .Paginator.HasNext }}
				<div class="nav-previous"><a href="{{ .Paginator.Next.URL | safeHTMLAttr }}"><span class="meta-nav">←</span> {{ i18n "Older posts" | safeHTML }}</a></div>
				{{ end }}
				{{ if .Paginator.HasPrev }}
				<div class="nav-next"><a href="{{ .Paginator.Prev.URL | safeHTMLAttr }}">{{ i18n "Newer posts" | safeHTML }} <span class="meta-nav">→</span></a></div>
				{{ end }}
			</nav><!-- .navigation -->
