{{/* https://themes.svn.wordpress.org/twentytwelve/3.6/content-page.php */}}
	<article class="{{ .Kind }}"> {{/* Note: WordPress post_class() does more than this */}}
		<header class="entry-header">
			{{/* <?php if ( ! is_page_template( 'page-templates/front-page.php' ) ) : ?>
				<?php the_post_thumbnail(); ?>
			<?php endif; ?> */}}
			<h1 class="entry-title">{{ .Title | safeHTML }}</h1>
		</header>

		<div class="entry-content">
			{{ .Content }}
			{{/* <?php
			wp_link_pages(
				array(
					'before' => '<div class="page-links">' . __( 'Pages:', 'twentytwelve' ),
					'after'  => '</div>',
				)
			);
			?> */}}
		</div><!-- .entry-content -->
		{{ if ( ne .Type  "page" ) }}
		{{ partial "article/entry_meta.html" . }}
		{{ end }}
	</article><!-- #post -->
