{{/*
The template for displaying 404 pages (Not Found)

https://themes.svn.wordpress.org/twentytwelve/3.6/404.php
*/}}
{{ partial "header.html" . }}

	<div id="primary" class="site-content">
		<div id="content" role="main">

			<article id="post-0" class="post error404 no-results not-found">
				<header class="entry-header">
					<h1 class="entry-title">{{ i18n "This is somewhat embarrassing, isn't it?" }}</h1>
				</header>

				<div class="entry-content">
					<p>{{ i18n "It seems we can't find what you're looking for. Perhaps searching can help." }}</p>
					{{ partial "search_form.html" . }}
				</div><!-- .entry-content -->
			</article><!-- #post-0 -->

		</div><!-- #content -->
	</div><!-- #primary -->

{{ partial "footer.html" . }}
