<footer class="entry-meta">
    {{/* edit button */}}
    This entry was
    {{- if .Params.categories }} posted in
        {{ range $i, $value := .Params.categories -}}
            {{- if $i }}, {{ end -}}
            {{- $category_page := ($.Site.GetPage "category").GetPage $value -}}
            {{- if $category_page -}}
                {{- $category_display_name := (index $category_page.Params "title" | default $value) -}}
                <a href="{{ $category_page.RelPermalink | safeHTMLAttr }}" rel="category">{{- $category_display_name | safeHTML -}}</a>
            {{- else -}}
                <span>{{- $value | safeHTML -}}</span>
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- if (and .Params.categories .Params.tags) }} and{{- end -}}
    {{- if .Params.tags }} tagged
        {{ range $i, $value := .Params.tags -}}
            {{- if $i }}, {{ end -}}
            {{- $tag_page := ($.Site.GetPage "tag").GetPage $value -}}
            {{- if $tag_page -}}
                {{- $tag_display_name := (index $tag_page.Params "title" | default $value) -}}
                <a href="{{ $tag_page.RelPermalink | safeHTMLAttr }}" rel="tag">{{- $tag_display_name | safeHTML -}}</a>
            {{- else -}}
                <span>{{- $value | safeHTML -}}</span>
            {{- end -}}
        {{- end -}}
    {{- end }}
    on
    <a href="{{ .Permalink | safeHTMLAttr }}" title="{{ partial "l10n/post_time.html" . | safeHTMLAttr }}" rel="bookmark"><time class="entry-date" datetime="{{ .Date.Local.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{- partial "l10n/post_date.html" . | safeHTML -}}</time></a>
    {{- if .Params.authors }} by
        {{- range $i, $value := .Params.authors -}}
            {{- if $i }}, {{ end -}}
            {{- $author_page := ($.Site.GetPage "author").GetPage $value -}}
            {{- if $author_page -}}
                {{- $author_display_name := (index $author_page.Params "name" | default $value ) -}}
                <span class="author vcard">
                    <a class="url fn n" href="{{ $author_page.RelPermalink | safeHTMLAttr }}" title="View all posts by {{ $author_display_name | safeHTMLAttr }}" rel="author">{{- $author_display_name | safeHTML -}}</a>
                </span>
            {{- else -}}
                <span class="author vcard">{{- $value | safeHTML -}}</span>
            {{- end -}}
        {{- end -}}
    {{- end -}}.
</footer><!-- .entry-meta -->
