<footer class="entry-meta">
    {{/* edit button */}}
    This entry was posted
    {{ if .Params.categories }} in
        {{ range .Params.categories }}
        {{ $category_page := ($.Site.GetPage (printf "/%s" .))}}
        {{ $category_display_name := (index $category_page.Params "title" | default .) }}
        <a href="{{ $category_page.RelPermalink | safeHTMLAttr }}" rel="category tag">{{ $category_display_name }}</a>
        {{ end }}
    {{ end }}
    on <a href="{{ .Permalink | safeHTMLAttr }}" title="{{ .Title | safeHTMLAttr }}" rel="bookmark">
        <time class="entry-date" datetime="{{ .Date.Local.Format "2006-01-02T15:04:05-07:00" | safeHTML }}">{{ partial "l10n/post_date.html" . }}</time></a>{{ if .Params.authors }} by
    {{ range .Params.authors }}
    {{ $author_page := ($.Site.GetPage (printf "/%s" .)) }}
    {{ $author_display_name := (index $author_page.Params "name" | default . ) }}
    <span class="author vcard"><a class="url fn n" href="{{ $author_page.RelPermalink | safeHTMLAttr }}" title="View all posts by {{ $author_display_name | safeHTMLAttr }}" rel="author">{{ $author_display_name | safeHTML }}</a></span>{{ end }}{{ end }}.
</footer><!-- .entry-meta -->
